.section-our-mission {
  background-image: linear-gradient(to bottom, #f2f5f7, #fafbfc);
  border-radius: 6px;
  padding: 56px 132px 56px 64px;
}

.section-our-mission > .heading-2 + .paragraph {
  margin-top: 16px;
}

.section-our-mission > .paragraph + .paragraph {
  margin-top: 8px;
}

@media (max-width: 944px) {
  .section-our-mission {
    padding: 24px;
  }
}