.section-our-projects_paragraph {
  width: 656px;
}

.section-our-projects > .heading-2 + .paragraph {
  margin-top: 16px;
}

.section-our-projects > .paragraph + .our-projects {
  margin-top: 24px;
}

.our-projects {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.our-projects_item {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 464px;
}

.our-projects_content {
  align-items: center;
  background-image: linear-gradient(to bottom, #f2f5f7, #fafbfc), linear-gradient(to bottom, #ffffff, #ffffff);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 190px;
  justify-content: center;
  margin-top: -32px;
  padding-left: 24px;
  padding-right: 24px;
  width: 400px;
}

.our-projects_content > .paragraph {
  text-align: center;
}

.our-projects_content > .paragraph + .link_button {
  margin-top: 16px;
}

.our-projects_link-button {
  height: 40px;
  width: 192px;
}

@media (max-width: 944px) {
  .section-our-projects_paragraph {
    width: auto;
  }

  .our-projects {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .our-projects_item {
    max-width: 464px;
    width: auto;
  }

  .our-projects_content {
    margin-top: -8px;
    max-width: 400px;
    width: auto;
  }

  .our-projects_item + .our-projects_item {
    margin-top: 40px;
  }
}